body {
    background-color: #111;
    color: #00FF00;
    font-family: "Consolas", "Courier New", Courier, monospace;
}

.container {
    margin: 0;
    padding: 2em;
}

input {
    padding: 5px 8px;

    border: 1px solid #333;
    border-radius: 8px;

    background: #222;
    color: #fff;
}

input:focus {
    outline: none;
    box-shadow: 0px 0px 5px #444;
}

pre {
    color: #efefef;
}